openapi: 3.1.0
info:
  title: Boltz Compute Admin API
  version: v1
  description: Boltz Compute API - biomolecular structure & binding prediction, ADME prediction, and generative small-molecule and protein design as asynchronous compute jobs. Operation surface derived from the official Boltz SDKs (boltz-bio/boltz-api-go); request/response schemas are not published by Boltz and are intentionally left generic.
  contact:
    name: Boltz PBC
    email: contact@boltz.bio
    url: https://boltz.bio
  license:
    name: Proprietary
    url: https://docs.boltz.bio/terms-of-service/terms-of-service
servers:
- url: https://api.boltz.bio
  description: Production
security:
- bearerAuth: []
tags:
- name: Admin
paths:
  /compute/v1/admin/workspaces:
    post:
      operationId: adminWorkspacesNew
      summary: Create a workspace
      tags:
      - Admin
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      requestBody:
        content:
          application/json:
            schema:
              type: object
    get:
      operationId: adminWorkspacesList
      summary: List workspaces
      tags:
      - Admin
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
  /compute/v1/admin/workspaces/{workspace_id}:
    get:
      operationId: adminWorkspacesGet
      summary: Retrieve a workspace
      tags:
      - Admin
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: adminWorkspacesUpdate
      summary: Update a workspace
      tags:
      - Admin
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/admin/workspaces/{workspace_id}/archive:
    post:
      operationId: adminWorkspacesArchive
      summary: Archive a workspace
      tags:
      - Admin
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/admin/workspaces/{workspace_id}/spending-limit:
    get:
      operationId: adminWorkspacesGetSpendingLimit
      summary: Get workspace spending limit
      tags:
      - Admin
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: adminWorkspacesSetSpendingLimit
      summary: Set workspace spending limit
      tags:
      - Admin
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/admin/api-keys:
    post:
      operationId: adminAPIKeysNew
      summary: Create an API key
      tags:
      - Admin
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      requestBody:
        content:
          application/json:
            schema:
              type: object
    get:
      operationId: adminAPIKeysList
      summary: List API keys
      tags:
      - Admin
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
  /compute/v1/admin/api-keys/{api_key_id}/revoke:
    post:
      operationId: adminAPIKeysRevoke
      summary: Revoke an API key
      tags:
      - Admin
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: api_key_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/admin/usage:
    get:
      operationId: adminUsageList
      summary: List usage records
      tags:
      - Admin
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Boltz API key or OAuth bearer token sent as Authorization: Bearer <token>. OAuth callers use the X-Boltz-Organization-Id header to select an organization.'
