openapi: 3.1.0
info:
  title: Boltz Compute Admin Share Links API
  version: v1
  description: Boltz Compute API - biomolecular structure & binding prediction, ADME prediction, and generative small-molecule and protein design as asynchronous compute jobs. Operation surface derived from the official Boltz SDKs (boltz-bio/boltz-api-go); request/response schemas are not published by Boltz and are intentionally left generic.
  contact:
    name: Boltz PBC
    email: contact@boltz.bio
    url: https://boltz.bio
  license:
    name: Proprietary
    url: https://docs.boltz.bio/terms-of-service/terms-of-service
servers:
- url: https://api.boltz.bio
  description: Production
security:
- bearerAuth: []
tags:
- name: Share Links
paths:
  /compute/v1/share-links:
    post:
      operationId: shareLinksNew
      summary: Create a share link
      tags:
      - Share Links
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/share-links/{id}:
    get:
      operationId: shareLinksGet
      summary: Retrieve a share link
      tags:
      - Share Links
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /compute/v1/share-links/{id}/archive:
    post:
      operationId: shareLinksArchive
      summary: Archive a share link
      tags:
      - Share Links
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/share/{id}/pipelines/{pipelineId}/results:
    get:
      operationId: shareLinksListPipelineResults
      summary: List shared pipeline results
      tags:
      - Share Links
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: pipelineId
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Boltz API key or OAuth bearer token sent as Authorization: Bearer <token>. OAuth callers use the X-Boltz-Organization-Id header to select an organization.'
