openapi: 3.1.0
info:
  title: Boltz Compute Admin Protein API
  version: v1
  description: Boltz Compute API - biomolecular structure & binding prediction, ADME prediction, and generative small-molecule and protein design as asynchronous compute jobs. Operation surface derived from the official Boltz SDKs (boltz-bio/boltz-api-go); request/response schemas are not published by Boltz and are intentionally left generic.
  contact:
    name: Boltz PBC
    email: contact@boltz.bio
    url: https://boltz.bio
  license:
    name: Proprietary
    url: https://docs.boltz.bio/terms-of-service/terms-of-service
servers:
- url: https://api.boltz.bio
  description: Production
security:
- bearerAuth: []
tags:
- name: Protein
paths:
  /compute/v1/protein/design/{id}:
    get:
      operationId: proteinDesignGet
      summary: Retrieve a design job
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /compute/v1/protein/design:
    get:
      operationId: proteinDesignList
      summary: List design jobs
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
    post:
      operationId: proteinDesignStart
      summary: Start a design job
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/protein/design/{id}/delete-data:
    post:
      operationId: proteinDesignDeleteData
      summary: Delete data for a design job
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/protein/design/estimate-cost:
    post:
      operationId: proteinDesignEstimateCost
      summary: Estimate cost of a design job
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/protein/design/curated-specifications:
    get:
      operationId: proteinDesignListCuratedSpecifications
      summary: List curated protein design specifications
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
  /compute/v1/protein/design/{id}/results:
    get:
      operationId: proteinDesignListResults
      summary: List results for a design job
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /compute/v1/protein/design/{id}/resume:
    post:
      operationId: proteinDesignResume
      summary: Resume a design job
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/protein/design/{id}/stop:
    post:
      operationId: proteinDesignStop
      summary: Stop a design job
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/protein/library-screen/{id}:
    get:
      operationId: proteinLibraryScreenGet
      summary: Retrieve a library screen
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /compute/v1/protein/library-screen:
    get:
      operationId: proteinLibraryScreenList
      summary: List library screens
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
    post:
      operationId: proteinLibraryScreenStart
      summary: Start a library screen
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/protein/library-screen/{id}/delete-data:
    post:
      operationId: proteinLibraryScreenDeleteData
      summary: Delete data for a library screen
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/protein/library-screen/estimate-cost:
    post:
      operationId: proteinLibraryScreenEstimateCost
      summary: Estimate cost of a library screen
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/protein/library-screen/{id}/results:
    get:
      operationId: proteinLibraryScreenListResults
      summary: List results for a library screen
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /compute/v1/protein/library-screen/{id}/resume:
    post:
      operationId: proteinLibraryScreenResume
      summary: Resume a library screen
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /compute/v1/protein/library-screen/{id}/stop:
    post:
      operationId: proteinLibraryScreenStop
      summary: Stop a library screen
      tags:
      - Protein
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Rate limited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Boltz API key or OAuth bearer token sent as Authorization: Bearer <token>. OAuth callers use the X-Boltz-Organization-Id header to select an organization.'
